---
import Link from "./ui/link.astro";
---

<div
  class="bg-black p-8 md:px-20 md:py-20 mt-20 mx-auto max-w-5xl rounded-lg flex flex-col items-center text-center">
  <h2 class="text-white text-4xl md:text-6xl tracking-tight font-semibold">
    Build faster websites.
  </h2>
  <p class="text-gray-300 mt-6 text-lg">
    Pull content from anywhere and serve it fast with Astro's next-gen island
    architecture.
  </p>
  <div class="flex mt-6">
    <Link href="#" style="inverted" class="text-white">Comenzar</Link>
  </div>
</div>
